@model IEnumerable<Inghram_MIS_4200.Models.course>

@{
    ViewBag.Title = "Index";
}

<h2>Courses</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.courses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.courseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.professorfirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.professorlastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.courseTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.student)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.courses)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.courseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.professorfirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.professorlastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.courseTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.student)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.courseID }) |
            @Html.ActionLink("Details", "Details", new { id=item.courseID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.courseID })
        </td>
    </tr>
}

</table>
