@model IEnumerable<Inghram_MIS_4200.Models.courseDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.course.courseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.student.firstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.courseDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.courseTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.course.courseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.student.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.courseDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.courseTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.courseDetailID }) |
            @Html.ActionLink("Details", "Details", new { id=item.courseDetailID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.courseDetailID })
        </td>
    </tr>
}

</table>
